/*footer*/
footer{
    padding: 20px;
}

.listaRedes{
    list-style: none;
    font-weight: bold;
}

.redesIcon{
    display: flex;
    align-items: center;
    padding: 10px;   
}

.imgIcon:hover{
    transition: all 1s;
    transform:scale(0.90)
}

.listaTexto{
    padding-left: 5px;
}

.derechos{
    font-weight: bold;
    display: flex;
    justify-content: center;
}



/*fin footer*/