/* header*/

.envios{
    background-color: rgb(0, 102, 255);
    text-align: center;
    color:white;
    position: sticky;
    top: 0%;
    font-weight: bold;
    
}

p{
    margin: 0%;
}

.navHeader{
    background-image: linear-gradient(to right top, #ffffff, #f2f7ff, #d8f3ff, #b3f1ff, #8bf0ff, #8bf0ff, #8bf0ff, #8bf0ff, #b3f1ff, #d8f3ff, #f2f7ff, #ffffff);
}

.tituloPrincipal{
    color: rgb(0, 0, 0);
    font-size: 5rem;
    font-family: 'Amatic SC', cursive;  
    display: flex;
    justify-content: center;
    
}

.logoContainer{
    display: flex;
    justify-content: center;
}

.catdogLogo{
    display: flex;
    justify-content:start;
}




.enlaces{
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(255, 255, 255);
}

.enlaces:hover{
    color: white;
}

.links{
    background-color: #3e4041;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.listado:hover{
    color: rgb(255, 255, 255);
    background-color: darkgoldenrod;
    border-radius: 5px;
}

.tituloOfertas{
    text-align: center;
    padding: 40px;
}

.carritoBlanco{
    width: 30px;
}
/* fin header*/