/*main perros*/


.titulo-alimento{
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 20px
    
}

.cards:hover{
    transition: all 1.5s;
    transform:scale(0.90)
}


.tituloAccesorios{
    color: rgb(26, 22, 16);
    text-align: center;
    padding-bottom: 20px
    
}



/*fin main perros*/