/*main contacto*/
.contenidoContacto{
    display: flex;
    justify-content: center;
}

.tituloContacto{
    text-align: center;
    font-weight: bold;
}

.descripcionFormulario{
    font-size: 1.4rem;
}

.footerContacto{
    padding-top: 140px;
    
}

.derechosContacto{
    padding-top: 225px;
}

/*fin main contacto*/