/* Media queries */

@media only screen and (max-width: 653px) and (min-width: 280px){
    .links{
        display:flex;
        flex-wrap: wrap;
     
    }
 
    .enlaces{
        font-size: 13px;
    }
 
    
    
     
 }

 @media only screen and (max-width: 405px) and (min-width: 300px){
    .tituloPrincipal{
        font-size: 2rem;
        
    }
 }

 @media only screen and (max-width: 536px) and (min-width: 405px){
    .tituloPrincipal{
        font-size: 3rem;
        
    }
 }

 @media only screen and (min-width: 536px){
    .tituloPrincipal{
        font-size: 5rem;
        
    }
 }
 

 /* Fin media queries */